<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Investment</title>
    <meta name="description" content="Investment">
    <meta name="viewport" content="width=device-width, initial-scale=1">{% load staticfiles %}
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">{% load bootstrap3 %}{% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
</head>
<body>
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header id="base-header" class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Investment</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Discover</a></li>
                    <li><a href="#">Start</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'account.views.sign_up' %}">Sign up</a></li>
                    <li><a href="{% url 'account.views.sign_in' %}">Sign in</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- Add your site or application content here -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer id="base-footer">
        <div class="row">
            <ul class="col-md-3 list-unstyled">
                <li><h5>Discover</h5></li>
                <li>Art</li>
                <li>Comics</li>
                <li>Design</li>
                <li>Fashion</li>
                <li>Games</li>
                <li>Music</li>
                <li>Technology</li>
            </ul>
            <ul class="col-md-3 list-unstyled">
                <li><h5>About</h5></li>
                <li>What is Investment</li>
                <li>Project Guidelines</li>
                <li>Meet our team</li>
                <li>Work at Investment</li>
            </ul>
            <ul class="col-md-3 list-unstyled">
                <li><h5>Social</h5></li>
                <li>Blog</li>
                <li>Twitter</li>
                <li>Facebook</li>
                <li>Google Plus</li>
            </ul>
            <ul class="col-md-3 list-unstyled">
                <li><h5>Mobile</h5></li>
                <li>iPhone</li>
                <li>iPad</li>
                <li>Android</li>
                <li>Windows Phone</li>
                <li>Firefox OS</li>
                <li>Ubuntu Mobile</li>
            </ul>
        </div>
        <hr class="row"/>
        <div class="row">
            <ul class="pull-right list-inline">
                <li><a href="#">Help</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li>&copy; 2014 xxxx, Inc.</li>
            </ul>
        </div>
    </footer>

    <script src="{% bootstrap_jquery_url %}"></script>{% bootstrap_javascript %}
</body>
</html>