{% extends 'layout/base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <p>Hello Investment! This is the Home Page on this site.</p>
</div>
<div class="row">
    <div class="col-lg-3">
        <h2>Investee</h2>
        <p>Investee</p>
    </div>
    <div class="col-lg-3">
        <h2>Investor</h2>
        <p>Investor</p>
    </div>
    <div class="col-lg-3">
        <h2>Service Provider</h2>
        <p>Service Provider</p>
    </div>
    <div class="col-lg-3">
        <h2>Government</h2>
        <p>Government</p>
    </div>
</div>
{% endblock %}