{% extends 'layout/base.html' %}
{% block title %}Sign up{% endblock %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Sign up</h4>
        </div>
        <div class="panel-body">
            {% if form.errors %}
                <p class="alert alert-error">{{ form.errors }}</p>
            {% endif %}
            <form method="post">{% csrf_token %}
                <div class="form-group">
                    <select id="id_account_type" name="account_type" class="form-control" required="" tabindex="1">
                    {% for row in form.account_type.choices %}
                        <option value="{{ row.key }}">{{ row.text }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="id_email">Email</label>{{ form.email }}
                </div>
                <div class="form-group">
                    <label for="id_password">Password</label>{{ form.password }}
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-default" tabindex="4">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}