{% extends 'layout/base.html' %}
{% block title %}Sign up{% endblock %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Sign up</h4>
        </div>
        <div class="panel-body">
            <form method="post">{% csrf_token %}
                <div class="form-group">
                    {{ form.account_type }}
                    <span class="text-danger">{{ form.errors.account_type.as_text }}</span>
                </div>
                <div class="form-group">
                    <label for="id_email">Email</label>{{ form.email }}
                    <span class="text-danger">{{ form.errors.email.as_text }}</span>
                </div>
                <div class="form-group">
                    <label for="id_password">Password</label>{{ form.password }}
                    <span class="text-danger">{{ form.errors.password.as_text }}</span>
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-default" tabindex="4">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}